<div class="container">
  <main class="content">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <header class="card-header has-text-centered">
            <p class="card-header-title">Subject</p>
          </header>
          <div class="card-content">
            <form (submit)="createSubjectRequest()">

              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth" >
                    <select name="role" [(ngModel)]="subject.teacher">
                      <option *ngFor="let th of teachers" value="{{th._id}}">{{th.firstname}} {{th.lastname}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <p class="control">
                  <input class="input" type="text" [(ngModel)]="subject.name" name="name" placeholder="Name" required/>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <input class="input" type="text" [(ngModel)]="subject.code" name="code" placeholder="Code" required/>
                </p>
              </div>
             
              <div class="field">
                <p class="control">
                  <input class="input" type="number" [(ngModel)]="subject.intensity" name="intensity" placeholder="Hourlyintensity" required/>
                </p>
              </div>

              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="role" [(ngModel)]="subject.program">
                      <option *ngFor="let prg of programs" value="{{prg.code}}">{{prg.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <p class="control">
                  <button class="button is-danger is-fullwidth" type="submit">SAVE</button>
                </p>
              </div>

             
            </form>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </main>
</div>

