<div class="container">
  <!-- ADMIN -->

  <ng-container *ngIf="apiService.getRole() == 'admin'">
    <div class="columns">
        <div class="column is-one-fifth">
          <a class="button is-danger is-outlined is-fullwidth" routerLink="/register">
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
            <span>Register User</span>
          </a>
          <br>
          <a class="button is-danger is-outlined is-fullwidth" routerLink="/subject">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span>Academic prog...</span>
          </a>
          <br>
          <a class="button is-danger is-outlined is-fullwidth" routerLink="/admin">
            <span class="icon">
              <i class="fas fa-file-alt"></i>
            </span>
            <span>Generate Reports</span>
          </a>
          <br>
          
        </div>
        <div class="column">
          <table class="table is-striped">
            <thead>
              <tr>
                <th><abbr title="Firstname">Firstname</abbr></th>
                <th><abbr title="Lastname">Lastname</abbr></th>
                <th><abbr title="Role">Role</abbr></th>
                <th><abbr title="Email">Email</abbr></th>
                <th><abbr title="Config">Config</abbr></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th><abbr title="Firstname">Firstname</abbr></th>
                <th><abbr title="Lastname">Lastname</abbr></th>
                <th><abbr title="Role">Role</abbr></th>
                <th><abbr title="Email">Email</abbr></th>
                <th><abbr title="Config">Config</abbr></th>
              </tr>
            </tfoot>
            <tbody>
        
              <tr *ngFor="let user of users">
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td><a class="icon"><i class="fas fa-cog"></i></a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
  </ng-container>

<!-- TEACHER -->

  <ng-container *ngIf="apiService.getRole() == 'teacher'">
    <div class="columns">
      <div class="column is-one-fifth">
        <a class="button is-danger is-outlined is-fullwidth" routerLink="/attendance-create">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Register Attendance</span>
        </a>

      </div>
      <div class="column">
        <table class="table is-striped">
          <thead>
            <tr>
              <th><abbr title="Date">Date</abbr></th>
              <th><abbr title="Subject">Subject</abbr></th>
              <th><abbr title="N. Students">N. Students</abbr></th>
              <th><abbr title="Difficulties">Difficulties</abbr></th>
              <th><abbr title="Config">Config</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Date">Date</abbr></th>
              <th><abbr title="Subject">Subject</abbr></th>
              <th><abbr title="N. Students">N. Students</abbr></th>
              <th><abbr title="Difficulties">Difficulties</abbr></th>
              <th><abbr title="Config">Config</abbr></th>
            </tr>
          </tfoot>
          <tbody>
      
            <tr *ngFor="let att of attendances">
              <td>{{(att.date).substring(0, 10)}}</td>
              <td>{{att.subject}}</td>
              <td>{{att.students}}</td>
              <td>{{att.difficulties}}</td>
              <td><a class="icon"><i class="fas fa-cog"></i></a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

<!-- COORDINATOR -->

  <ng-container *ngIf="apiService.getRole() == 'coordinator'">
    <div class="columns">
      <div class="column is-one-fifth">
        <a class="button is-danger is-outlined is-fullwidth" routerLink="/program">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Register Program</span>
        </a>

      </div>
      <div class="column">
        <p>Programs</p>
        <table class="table is-striped">
          <thead>
            <tr>
              <th><abbr title="Code">Code</abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Config">Cofig</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Code">Code</abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Config">Cofig</abbr></th>
            </tr>
          </tfoot>
          <tbody>
      
            <tr *ngFor="let p of programs">
              <td>{{p.code}}</td>
              <td>{{p.name}}</td>
              <td><a class="icon"><i class="fas fa-cog"></i></a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="column">
        <p>Subjects</p>
        <table class="table is-striped">
          <thead>
            <tr>
              <th><abbr title="Code">Code</abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Program">Program</abbr></th>
              <th><abbr title="Config">Cofig</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Code">Code</abbr></th>
              <th><abbr title="Name">Name</abbr></th>
              <th><abbr title="Program">Program</abbr></th>
              <th><abbr title="Config">Cofig</abbr></th>
            </tr>
          </tfoot>
          <tbody>
      
            <tr *ngFor="let s of subjects">
              <td>{{s.code}}</td>
              <td>{{s.name}}</td>
              <td>{{s.program}}</td>
              <td><a class="icon"><i class="fas fa-cog"></i></a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

</div>