
  <nav class="navbar has-shadow is-light mb-5" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="../assets/images/logo.png" width="140" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <!-- <a class="navbar-item">Home</a>-->
          <!-- <a class="navbar-item" routerLink="profile">Profile</a>  -->
        
        </div>
    
        <div class="navbar-end">
          <ng-container *ngIf="!apiService.isAuth(); else logout">
            <div class="navbar-item" >
              <div class="buttons">
                <a class="button is-danger" routerLink="login">Log in</a>
              </div>
            </div>
          </ng-container>
          <ng-template #logout>
            <div class="field">
              <div class="navbar-item" >

                <div class="icon-text mr-3">
                  <span class="icon has-text-dark">
                    <i class="fas fa-user"></i>
                  </span>
                  <p class="mr-1">{{ user["name"] }}</p>
                  <small class="tag is-info is-light">{{ user["role"] }}</small>
                </div>

                <p class="control">
                  <a class="button is-danger is-outlined" (click)="apiService.logoutRequest()">
                    <span class="icon">
                      <i class="fas fa-power-off"></i>
                    </span>
                  </a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
  </div>
  </nav>
<router-outlet></router-outlet>